################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArtimeticExpressionsCaclulator/.vs/ArtimeticExpressionCaclulator/v16
/ArtimeticExpressionsCaclulator/bin/Release/netcoreapp3.1
/ArtimeticExpressionsCaclulator/obj
